# Optional:
# VITE_EERC_PRESET=standalone
# VITE_EERC_PRESET=converter
#
# Standalone example from the official AvaCloud example app:
# VITE_EERC_CONTRACT_ADDRESS=0x5E9c6F952fB9615583182e70eDDC4e6E4E0aC0e0
#
# Converter example from the official AvaCloud example app:
# VITE_EERC_CONTRACT_ADDRESS=0x372dAB27c8d223Af11C858ea00037Dc03053B22E
# VITE_EERC_TOKEN_ADDRESS=0xb0Fe621B4Bd7fe4975f7c58E3D6ADaEb2a2A35CD
VITE_EERC_CONTRACT_ADDRESS=
VITE_EERC_TOKEN_ADDRESS=
